<div class="summary-legend-container">
  <app-vacation-summary></app-vacation-summary>
  <app-legend></app-legend>
</div>

<div class="calendar-container">
  <div class="calendar" style="width: 95%">
    <div class="month-calendar" *ngFor="let month of months">
      <div class="calendar-header">
        <h2>{{ month.date.format("MMMM YYYY") }}</h2>
      </div>
      <div class="calendar-body mat-calendar">
        <div class="calendar-weekday" *ngFor="let day of weekDays">{{ day }}</div>
        <div
          class="day"
          *ngFor="let day of month.days"
          [ngClass]="{
            selected: isSelected(day, month.date),
            disabled: !isCurrentMonth(day, month.date),
            vacation:
              day.type === 'vacation' && isCurrentMonth(day, month.date),
              hours: day.type === 'hours' && isCurrentMonth(day, month.date),
              weekend: day.weekend && isCurrentMonth(day, month.date),
          }"
          (click)="selectDay(day)"
        >
          {{ day.formatted }}
        </div>
      </div>
    </div>
  </div>
</div>
