/* calendar.component.css */
.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.month-calendar {
  flex: 1 0 21%;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 8px;
}

.month-calendar h2 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.mat-calendar {
  width: 100%;
  transform: scale(1);
  transform-origin: top left;
}

.cell-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.selected {
  color: white;
  background-color: blue; /* Color para los días seleccionados */
}

.vacation {
  background-color: blue; /* Color para los días de vacaciones */
  color: white;
}

.hours {
  background-color: green; /* Color para las horas de libre disposición */
  color: white;
}

/* Estilos para los días pares e impares */
::ng-deep .even-day .mat-calendar-body-cell-content {
  background-color: red;
  color: white;
}

::ng-deep .odd-day .mat-calendar-body-cell-content {
  background-color: blue;
  color: white;
}

/* Ocultar el nombre abreviado del mes sin afectar la disposición */
::ng-deep .mat-calendar-table .mat-calendar-body-label {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ocultar la barra de navegación de meses */
::ng-deep .mat-calendar-controls {
  display: none !important;
}

/* Asegurarse de que el calendario no tenga semanas en blanco */
::ng-deep .mat-calendar-table {
  table-layout: fixed;
}

.vacation-summary {
  margin-bottom: 20px;
}

.clicked-date .mat-calendar-body-cell-content {
  background-color: green;  /* O el color que prefieras */
  color: white;
}

::ng-deep .clicked-date .mat-calendar-body-cell-content {
  background-color: green;
  color: white;
}
