<!-- calendar.component.html -->
<app-vacation-summary></app-vacation-summary>
<div class="calendar-container">
  <div *ngFor="let monthDate of monthDates; let i = index" class="month-calendar">
    <h2>{{ months[i] }}</h2>
    <mat-calendar [startAt]="monthDate" (selectedChange)="onDateSelected($event)">
      <ng-container matCalendarCell *matCalendarBodyCell="let cell">
        <div class="cell-content" [ngClass]="{
               'selected': isSelected(cell.date),
               'vacation': isVacation(cell.date),
               'hours': isFreeHours(cell.date)
        }">
          {{ cell.date.getDate() }}
        </div>
      </ng-container>
    </mat-calendar>
  </div>
</div>
